<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- 위치 정보 사용을 위해 권한을 추가 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".util.MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Merona"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".board.BoardModifyActivity"
            android:exported="false" />
        <activity
            android:name=".board.RoadSearchActivity"
            android:exported="false" />
        <activity
            android:name=".board.BoardDetailActivity"
            android:exported="false" />
        <activity
            android:name=".chat.ChatActivity"
            android:exported="false" />
        <activity
            android:name=".user.UserModifyActivity"
            android:exported="false" />
        <activity
            android:name=".board.BoardWritingActivity"
            android:exported="false"
            android:parentActivityName=".home.HomeFragment"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".home.MapActivity"
            android:exported="false" />
        <activity
            android:name=".home.MainActivity"
            android:exported="false" />
        <activity
            android:name=".user.UserRegisterActivity"
            android:exported="false"
            android:parentActivityName=".user.LoginActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".user.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".home.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <meta-data
            android:name="com.naver.maps.map.CLIENT_ID"
            android:value="cta5vodl7s" />
        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value=" d89b7cfd985cbf3288b6e904ae6fba31" />
    </application>

</manifest>